{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n numerique_filters %}

{% include "content_manager/blocks/head.html" with stream=page.body %}

{% block content %}
  {% include "numerique_gouv/blocks/hub_pages_heading.html" %}
  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}<h1>{{ page.title }}</h1>{% endif %}
  </div>
  
  {% include "content_manager/blocks/messages.html" %}

  <div class="fr-container">
    <h2 class="fr-h2">{{ _('News') }}</h2>
    {% with entries=page|get_entries:'blog' %}
      <div class="fr-grid-row fr-grid-row--gutters">
        {% for subpage in entries  %}
          <div class="fr-col-12 fr-col-md-4">
            {% include "numerique_gouv/blocks/card_vertical.html" with page=subpage %}
          </div>
        {% endfor %}
      </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mt-4w">
        <div class="fr-col-4" style="text-align: center">
          {% if entries|length == 3 %}
            <a href="/actualités/?{{ page.content_source }}={{ page.get_content_source_name }}" class="fr-btn">{{ _("See more news") }}</a>
          {% else %}
            <a href="/actualités/" class="fr-btn">{{ _("See all news") }}</a>
          {% endif %}
        </div>
      </div>
    {% endwith %}
  </div>

  <div class="fr-container fr-mt-6w">
    <h2 class="fr-h2">{{ _('Offers') }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      {% with entries=page|get_entries:'offers' %}
        {% for subpage in entries  %}
          {% include "numerique_gouv/blocks/offer_card.html" with page=subpage %}
        {% endfor %}
      {% endwith %}
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mt-4w">
      <div class="fr-col-4" style="text-align: center">
        <a href="/offre-de-la-dinum/" class="fr-btn">{{ _("See all offers") }}</a>
      </div>
    </div>
  </div>

  <div class="fr-container fr-my-6w">
    <h2 class="fr-h2">{{ _('Products') }}</h2>
    {% with entries=page|get_entries:'products' %}
      <div class="fr-grid-row fr-grid-row--gutters">
        {% for subpage in entries  %}
          <div class="fr-col-12 fr-col-md-4">
            {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
          </div>
        {% endfor %}
      </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mt-4w">
        <div class="fr-col-4" style="text-align: center">
          <a href="/produits-à-impact/" class="fr-btn">{{ _("See all services") }}</a>
        </div>
      </div>
    {% endwith %}
  </div>

  {% include "content_manager/blocks/blocks_stream.html" with stream=page.body %}
  
{% endblock content %}


