{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% include "numerique_gouv/blocks/head.html" with stream=page.body %}

{% block content %}
  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}{% endif %}
  </div>

  <div class="fr-py-5w fr-my-5w" style="background: var(--background-alt-blue-ecume) ;">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="{% if page.organization_title %}fr-col-md-8{% endif %}">
          <h1 class="fr-text-title--blue-france">{{ page.title }}</h1>
          <ul style="list-style: none; display: flex; flex-wrap: wrap;">
            {% for organization in page.organizations.all %}
              <li class="fr-mr-1w">
                <span class="fr-badge fr-badge--{{ organization.color }}">{{ organization }}</span>
              </li>
            {% endfor %}
            {% if page.type %}
              <li class="fr-mr-1w">
                <span class="fr-badge fr-badge--{{ page.type.color }}">{{ page.type }}</span>
              </li>
            {% endif %}
            {% for target_audience in page.target_audiences.all %}
              <li class="fr-mr-1w">
                  <span class="fr-badge fr-badge--{{ target_audience.color }}">{{ target_audience }}</span>
              </li>
            {% endfor %}
            {% for theme in page.themes.all %}
              <li class="fr-mr-1w">
                <span class="fr-badge fr-badge--{{ theme.color }}">{{ theme }}</span>
              </li>
            {% endfor %}
            {% for category in page.categories.all %}
              <li class="fr-mr-1w">
                 <span class="fr-badge fr-badge--{{ category.color }}">{{ category }}</span>
              </li>
            {% endfor %}
          </ul>

          {% if page.text_and_cta %}
            <div class="fr-mt-6w">
              {{ page.text_and_cta }}
            </div>
          {% endif %}
        </div>

        {% if page.organization_title %}
          <div class="fr-col-md-4">
            {% include "numerique_gouv/blocks/offers_organization.html" with page=page %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include "content_manager/blocks/messages.html" %}

  {% include "content_manager/blocks/blocks_stream.html" with stream=page.body %}

  <div class="fr-container fr-my-6w">
    {% for tag in page.tags.all|dictsort:"slug" %}
      <a class="fr-tag" target="_self" href="{% url 'global_tag' tag.slug %}">{{ tag }}</a>
    {% endfor %}
  </div>
{% endblock content %}


