{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% include "content_manager/blocks/head.html" with stream=page.body %}

{% block content %}
  {% include "content_manager/blocks/heading.html" %}
  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}<h1>{{ page.title }}</h1>{% endif %}
  </div>

  {% include "content_manager/blocks/messages.html" %}

  {% include "content_manager/blocks/blocks_stream.html" with stream=page.body %}

  {% if citizens_subpages %}
    <div class="fr-py-5w fr-my-5w" style="background: var(--background-alt-blue-ecume) ;">
      <div class="fr-container">
        <h2 class="fr-h2">{{ _('Digital technology to simplify citizen procedures') }}</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
          {% for subpage in citizens_subpages %}
            <div class="fr-col-12 fr-col-md-4">
              {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if companies_subpages %}
    <div class="fr-container">
      <h2 class="fr-h2">{{ _('Le numérique au service des entreprises') }}</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        {% for subpage in companies_subpages %}
          <div class="fr-col-12 fr-col-md-4">
            {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if agents_publics_subpages %}
    <div class="fr-py-5w fr-my-5w" style="background: var(--background-alt-blue-ecume) ;">
      <div class="fr-container">
        <h2 class="fr-h2">{{ _('Digital technology to improve the efficiency of public officials') }}</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
          {% for subpage in agents_publics_subpages %}
            <div class="fr-col-12 fr-col-md-4">
              {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="fr-container fr-py-5w fr-my-5w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle">
       <div class="fr-col-12 fr-col-md-2 ng-text-center">
          <img class="fr-responsive-img fr-ratio-16x9" src="https://cellar-c2.services.clever-cloud.com/storage-demo/numerique-gouv-website/images/logo-beta-gouv.original.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ZWM9OJBMLHVWM86C0Y2S%2F20241023%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20241023T082345Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=d8e5f4700117d82ce1ec640814dcc9b09c5c20ef10a5897897eabd2b3bbc8dbf" alt="Logo de Beta.gouv.fr" style="max-width: 12rem"/>
       </div>
       <div class="fr-col-12 fr-col-md-6 ng-text-center">
          <p class="fr-h4 fr-text--bold fr-m-0">{{ _('Discover others services') }}</p>
       </div>
       <div class="fr-col-12 fr-col-md-2 ng-text-center">
          <a href="https://beta.gouv.fr/startups" class="fr-btn fr-btn--lg" target="_blank">{{ _('Discover') }}</a>
       </div>
    </div>
  </div>
{% endblock content %}
