{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% include "content_manager/blocks/head.html" with stream=page.body %}

{% block content %}
  {% include "content_manager/blocks/heading.html" %}
  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}<h1>{{ page.title }}</h1>{% endif %}
  </div>

  {% include "content_manager/blocks/messages.html" %}

  {% include "content_manager/blocks/blocks_stream.html" with stream=page.body %}

  {% if citizens_subpages %}
    <div class="fr-py-5w fr-my-5w" style="background: var(--background-alt-blue-ecume);" aria-labelledby="citizens-section">
      <div class="fr-container">
        <h2 class="fr-h2">{{ _('Digital technology to simplify citizen procedures') }}</h2>
        <div id="citizens-section" class="fr-grid-row fr-grid-row--gutters">
          {% for subpage in citizens_subpages %}
            <div class="fr-col-12 fr-col-md-4 citizen-subpage {% if forloop.counter > 6 %}hidden{% endif %}">
              {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
            </div>
          {% endfor %}
        </div>
        {% if citizens_subpages|length > 6 %}
          <div class="fr-grid-row fr-grid-row--center fr-mt-3w">
            <button id="voir-plus-citizens" class="fr-btn" aria-controls="citizens-section" aria-expanded="false">{{ _('See more services') }}</button>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if companies_subpages %}
    <div class="fr-container" aria-labelledby="companies-section">
      <h2 class="fr-h2">{{ _('Le numérique au service des entreprises') }}</h2>
      <div id="companies-section" class="fr-grid-row fr-grid-row--gutters">
        {% for subpage in companies_subpages %}
          <div class="fr-col-12 fr-col-md-4 company-subpage {% if forloop.counter > 6 %}hidden{% endif %}">
            {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
          </div>
        {% endfor %}
      </div>
      {% if companies_subpages|length > 6 %}
        <div class="fr-grid-row fr-grid-row--center fr-mt-3w">
          <button id="voir-plus-companies" class="fr-btn" aria-controls="companies-section" aria-expanded="false">{{ _('See more services') }}</button>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if agents_publics_subpages %}
    <div class="fr-py-5w fr-my-5w" style="background: var(--background-alt-blue-ecume);" aria-labelledby="agents-section">
      <div class="fr-container">
        <h2 class="fr-h2">{{ _('Digital technology to improve the efficiency of public officials') }}</h2>
        <div id="agents-section" class="fr-grid-row fr-grid-row--gutters">
          {% for subpage in agents_publics_subpages %}
            <div class="fr-col-12 fr-col-md-4 agent-subpage {% if forloop.counter > 6 %}hidden{% endif %}">
              {% include "numerique_gouv/blocks/product_card.html" with page=subpage %}
            </div>
          {% endfor %}
        </div>
        {% if agents_publics_subpages|length > 6 %}
          <div class="fr-grid-row fr-grid-row--center fr-mt-3w">
            <button id="voir-plus-agents" class="fr-btn" aria-controls="agents-section" aria-expanded="false">{{ _('See more services') }}</button>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="fr-container fr-py-5w fr-my-5w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle">
      <div class="fr-col-12 fr-col-md-2 ng-text-center">
        <img class="fr-responsive-img fr-ratio-16x9" src="https://cellar-c2.services.clever-cloud.com/storage-demo/numerique-gouv-website/images/logo-beta-gouv.original.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ZWM9OJBMLHVWM86C0Y2S%2F20241117%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20241117T200809Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=c7d568b96cf6f89aa74d44ac9d7d78b056a6214e6f1c69c048ea4725b130deb1" alt="Logo de Beta.gouv.fr" style="max-width: 12rem"/>
      </div>
      <div class="fr-col-12 fr-col-md-6 ng-text-right">
        <p class="fr-h4 fr-text--bold fr-m-0">{{ _('Discover others services') }}</p>
      </div>
      <div class="fr-col-12 fr-col-md-2">
        <a href="https://beta.gouv.fr/startups" class="fr-btn fr-btn--lg" target="_blank">{{ _('Discover') }}</a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/voir_plus.js' %}"></script>
{% endblock extra_js %}