{% load dsfr_tags wagtailcore_tags wagtailimages_tags %}
<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col col-lg-9">
            {% include_block value.main_card %}
        </div>
        <div class="fr-col-lg-3">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6 fr-col-md-12 ">
                     {% include_block value.secondary_card %}
                </div>
                <div class="fr-col-6 fr-col-md-12">
                    {% include_block value.tertiary_card %}
                </div>
            </div>
        </div>
    </div>
</div>
