<div class="fr-py-3w" style="height: 100%; background:
    {% if value.bg_color_class %}var(--background-alt-{{ value.bg_color_class }}) {% else %}var(--background-default-grey); {% endif %}
    {% if value.border %} border: 1px solid var(--border-default-grey);
      {% if value.center_content %}
           display: flex; flex-direction: column; justify-content: center; text-align: center;
      {% endif %}
    {% endif %}">

    {% include "content_manager/blocks/blocks_stream.html" with stream=value.content %}
</div>
