{% load wagtailroutablepage_tags %}
{% load wagtailroutablepage_tags %}
{% load i18n static dsfr_tags wagtailuserbar wagtailsettings_tags sass_tags wagtailimages_tags %}

{% get_settings %}
{% with SiteConfig=settings.content_manager.CmsDsfrConfig %}
  <!DOCTYPE html>
  <html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"
        {% if SiteConfig.theme_modale_button %}data-fr-scheme="system"{% else %}data-fr-scheme="light"{% endif %}
        {% if SiteConfig.mourning %}data-fr-mourning{% endif %}>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      {% block title %}
        <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
      {% endblock title %}

      {% block description %}
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
      {% endblock description %}

      {% dsfr_favicon %}

      {% dsfr_css %}
      <link href="{% static 'dsfr/dist/utility/utility.min.css' %}"
            rel="stylesheet"
            type="text/css" />
      <link href="{% sass_src 'css/style.sass' %}"
            rel="stylesheet"
            type="text/css" />

      {% block extra_css %}
        <link href="{% sass_src 'css/numerique_gouv.sass' %}"
              rel="stylesheet"
              type="text/css" />
        <link
            rel="stylesheet"
            href="{% static 'lib/swiperjs/swiper-bundle.min.css' %}"
        />
      {% endblock extra_css %}

      {% block cookie_banner %}
        {% include "blocks/cookie_banner.html" %}
      {% endblock cookie_banner %}

      {% block tracking %}
        {% if settings.content_manager.CustomScriptsSettings.head_scripts %}
          {{ settings.content_manager.CustomScriptsSettings.head_scripts|safe }}
        {% endif %}
      {% endblock tracking %}

      {% block social_media %}
        <meta property="og:site_name" content="{{ request.get_host }}" />
        <meta property="og:title"
              content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ page.full_url }}" />
        <meta property="og:description" content="{{ page.search_description }}" />
        <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
        {% if page.reverse_subpage %}
          <link rel="alternate"
                type="application/atom+xml"
                title="Atom"
                href="{% routablepageurl page 'atom_feed' %}">
          <link rel="alternate"
                type="application/rss+xml"
                title="RSS"
                href="{% routablepageurl page 'rss_feed' %}">
        {% endif %}
        {% if page.get_translations.live %}
          {% for translation in page.get_translations.live %}
            <meta property="og:locale:alternate"
                  content="{{ translation.locale.language_code }}" />
          {% endfor %}
        {% endif %}

        <meta name="twitter:title"
              content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
        <meta name="twitter:description" content="{{ page.search_description }}" />

        {% if page.header_image %}
          <meta name="twitter:card" content="summary_large_image" />
          {% image page.header_image fill-1200x627 as header_image %}
          <meta property="og:image" content="{{ header_image.full_url }}" />
          <meta name="twitter:image" content="{{ header_image.full_url }}" />
        {% else %}
          <meta name="twitter:card" content="summary" />
        {% endif %}
      {% endblock social_media %}
    </head>

    <body>
      {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
      {% endblock skiplinks %}

      {% wagtailuserbar %}
      {% include "blocks/header.html" %}
      {% dsfr_theme_modale %}

      {% if SiteConfig.notice_title or SiteConfig.notice_description %}
        {% include "blocks/notice.html" %}
      {% endif %}

      <main id="content" role="main">
        {% block content %}
        {% endblock content %}
      </main>

      {% block follow_newsletter_social_media %}
        {% if SiteConfig.show_newsletter_and_social_block %}
          <aside role="complementary" id="cmsfr-block-follow">
            {% include "blocks/follow.html" %}
          </aside>
        {% endif %}
      {% endblock follow_newsletter_social_media %}

      {% include "blocks/footer.html" %}

      {% dsfr_js nonce=request.csp_nonce %}
      {% block extra_js %}
        <script src="{% static 'lib/swiperjs/swiper.js' %}"></script>
        <script src="{% static 'js/swiper.js' %}"></script>
      {% endblock extra_js %}

      {% block body_tracking_scripts %}
        {% if settings.content_manager.CustomScriptsSettings.body_scripts %}
          {{ settings.content_manager.CustomScriptsSettings.body_scripts|safe }}
        {% endif %}
      {% endblock body_tracking_scripts %}
    </body>
  </html>
{% endwith %}
